<!DOCTYPE html>
<html>
  <head>
    <title>crossid-spa-js playground</title>
    <meta charset="utf-8" />
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <div
      id="app"
      class="bg-white py-16 px-4 overflow-hidden sm:px-6 lg:px-8 lg:py-12"
    >
      <div v-if="!loading" class="relative max-w-3xl mx-auto">
        <div class="text-center">
          <h2
            class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl"
          >
            <a href="https://github.com/crossid/crossid-spa-js"
              >crossid-spa-js playground</a
            >
          </h2>
          <p class="mt-4 text-lg leading-6 text-gray-500">
            OAauth2 / OpenID-Connect client for single page applications (SPA)
            with PKCE extension, written in vanilla JS.
          </p>
        </div>
        <div class="mt-8">
          <div class="rounded-md bg-indigo-50 p-4">
            <div class="flex">
              <div class="flex-shrink-0">
                <svg
                  class="h-5 w-5 text-indigo-400"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                    clip-rule="evenodd"
                  />
                </svg>
              </div>
              <div class="ml-3 flex-1 md:flex md:justify-between">
                <p class="text-sm text-indigo-700">
                  <span class="font-semibold">TIP: </span>Use
                  <a
                    class="underline font-semibold"
                    href="https://github.com/crossid/crossid-react"
                    >React</a
                  >
                  or
                  <a
                    class="underline font-semibold"
                    href="https://github.com/crossid/crossid-vue"
                    >Vue</a
                  >
                  libraries for a better experience.
                </p>
              </div>
            </div>
          </div>
          <div class="mt-6">
            <!-- data section -->
            <div>
              <div class="">
                <h3 class="text-lg leading-6 font-medium text-gray-900">
                  <p>
                    User
                    <span v-if="!user" class="mr-1">not</span>authenticated!
                  </p>
                </h3>
                <p v-if="!user" class="mt-1 max-w-2xl text-sm text-gray-500">
                  Start a login or check authentication state by clicking the
                  <span>is authenticated</span> button.
                </p>
                <p v-if="user" class="mt-1 max-w-2xl text-sm text-gray-500">
                  {{user}}
                </p>
              </div>
              <div v-if="accessToken" class="token">
                <h3 class="text-lg leading-6 font-medium text-gray-900">
                  <p>Access Token</p>
                </h3>
                <p class="mt-1 max-w-2xl text-sm text-gray-500">
                  {{accessToken}}
                </p>
              </div>
              <div v-if="accessTokenClaims" class="token">
                <h3 class="text-lg leading-6 font-medium text-gray-900">
                  <p>Access Token Claims</p>
                </h3>
                <p class="mt-1 max-w-2xl text-sm text-gray-500">
                  {{accessTokenClaims}}
                </p>
              </div>
            </div>
          </div>
          <!-- error -->
          <div class="space-y-8 sm:space-y-5 pt-10">
            <div v-if="error" class="rounded-md bg-red-50 p-4">
              <div class="flex">
                <div class="flex-shrink-0">
                  <!-- Heroicon name: solid/x-circle -->
                  <svg
                    class="h-5 w-5 text-red-400"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </div>
                <div class="ml-3 flex-1 md:flex md:justify-between">
                  <p class="text-sm text-red-700">{{error}}</p>
                </div>
              </div>
            </div>
          </div>
          <!-- configuration tabs -->
          <div class="pt-12">
            <h3 class="text-lg leading-6 font-medium text-gray-500">
              Client Options
            </h3>
          </div>
          <tabs v-on:selected="selectedTab = $event" :selected="selectedTab">
            <tab id="crossid" name="Crossid Tenant">
              <p class="text-xs text-gray-500">
                Auto configure client by your crossid tenant.
              </p>
              <optinput
                name="domain"
                v-model="domain"
                label="Your Domain"
                placeholder="Your crossid domain name (e.g., 'myorg.us.crossid.io')"
                autoFocus
              ></optinput>
              <optinput
                name="uiLocales"
                v-model="uiLocales"
                label="UI Locales"
                autoFocus
              ></optinput>
              <optinput
                name="templateId"
                v-model="templateId"
                label="Template ID"
                autoFocus
              ></optinput>
            </tab>
            <tab id="wellKnown" name="OpenID Well Known Endpoint">
              <p class="text-xs text-gray-500">
                Auto configure client by providing an OIDC well-known
                configuration endpoint.
              </p>
              <optinput
                name="wellKnownEndpoint"
                v-model="wellKnownEndpoint"
                label="Well-Known Endpoint"
                autoFocus
              ></optinput>
            </tab>
            <tab id="manually" name="Manually">
              <p class="text-xs text-gray-500">Manually configure client.</p>
              <optinput
                name="issuer"
                v-model="issuer"
                label="Issuer"
                autoFocus
              ></optinput>
              <optinput
                name="authEndpoint"
                v-model="authEndpoint"
                label="Authorization Endpoint"
              ></optinput>
              <optinput
                name="tokenEndpoint"
                v-model="tokenEndpoint"
                label="Token Endpoint"
              ></optinput>
            </tab>
          </tabs>
          <optinput
            name="clientID"
            v-model="clientID"
            label="Client ID"
            placeholder=""
            autoFocus
          ></optinput>
          <optinput
            name="scope"
            v-model="scope"
            label="Scope"
            placeholder=""
            autoFocus
          ></optinput>
          <optinput
            name="audience"
            v-model="audienceInput"
            label="Audience"
            placeholder=""
            autoFocus
          ></optinput>
          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-5">
            <label
              for="well_unknown"
              class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"
            >
              Cache Type <span class="text-xs">(must press save)</span>
            </label>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <div
                v-for="ct in cacheTypes"
                :key="ct.id"
                class="flex items-center h-5"
              >
                <input
                  :id="ct.id"
                  :name="ct.id"
                  type="radio"
                  v-bind:value="ct.id"
                  v-model="cacheType"
                  class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded"
                />
                <label
                  :for="ct.id"
                  class="ml-3 block text-sm font-medium text-gray-700"
                >
                  {{ct.name}}
                </label>
              </div>
            </div>
          </div>
          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-5">
            <label
              for="well_unknown"
              class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"
            >
              Logout client only?
            </label>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <div key="logoutType" class="flex items-center h-5">
                <input
                  type="checkbox"
                  v-model="logoutClientScope"
                  class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded"
                />
                <label
                  for="logoutType"
                  class="ml-3 block text-sm font-medium text-gray-700"
                >
                  yes
                </label>
              </div>
            </div>
          </div>
          <div>
            <button
              @click="saveOptions"
              type="button"
              class="inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded text-indigo-700 bg-indigo-100 hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            >
              Save
            </button>
          </div>
          <!-- actions -->
          <div class="pt-12">
            <h3 class="text-lg leading-6 font-medium text-gray-500">Actions</h3>
          </div>
          <div class="mt-6 sm:mt-5 space-y-6 sm:space-y-5">
            <div class="flex justify-start">
              <button
                @click="loginWithRedirect"
                class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
              >
                Login by redirect
              </button>
              <button
                @click="signupWithRedirect"
                class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
              >
                Signup by redirect
              </button>
              <button
                @click="handleLoginRedirectCallback"
                class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
              >
                <div
                  v-if="codeInURL"
                  class="absolute bottom-0 flex flex-col items-center mb-10 group-hover:flex"
                >
                  <span
                    class="relative z-10 p-2 text-xs leading-none text-white whitespace-no-wrap bg-black shadow-lg"
                    >Looks like we got a code, click to complete the
                    login.</span
                  >
                  <div class="w-3 h-3 -mt-2 rotate-45 bg-black"></div>
                </div>
                Handle redirect callback
              </button>
              <button
                @click="getUser"
                class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
              >
                Get User
              </button>
              <button
                @click="getAccessToken"
                class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
              >
                Get Access Token
              </button>
              <button
                @click="introspectAccessToken"
                class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
              >
                Introspect Access Token
              </button>
              <button
                @click="logout"
                class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
              >
                Logout
              </button>
              <button
                @click="handleLogoutRedirectCallback"
                class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
              >
                <div
                  v-if="stateInURL"
                  class="absolute bottom-0 flex flex-col items-center mb-10 group-hover:flex"
                >
                  <span
                    class="relative z-10 p-2 text-xs leading-none text-white whitespace-no-wrap bg-black shadow-lg"
                    >Looks like we got a code, click to complete the
                    login.</span
                  >
                  <div class="w-3 h-3 -mt-2 rotate-45 bg-black"></div>
                </div>
                Handle logout redirect callback
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="module">
      const OptInput = Vue.component('optinput', {
        inheritAttrs: false,
        props: ['name', 'value', 'label'],
        template: `
              <div
                  class="
                  sm:grid
                  sm:grid-cols-3
                  sm:gap-4
                  sm:items-start
                  sm:pt-5"
              >
                  <label
                  for="well_unknown"
                  class="
                      block
                      text-sm
                      font-medium
                      text-gray-700
                      sm:mt-px sm:pt-2
                  "
                  >
                  {{label}}
                  </label>
                  <div class="mt-1 sm:mt-0 sm:col-span-2">
                  <div class="max-w-lg flex rounded-md shadow-sm">
                      <input
                      :id="name"
                      type="text"
                      :name="name"
                      :value="value"
                      v-bind="$attrs"
                      @input="$emit('input', $event.target.value)"
                      class="
                          flex-1
                          block
                          w-full
                          focus:ring-indigo-500 focus:border-indigo-500
                          min-w-0
                          rounded-md
                          sm:text-sm
                          border-gray-300
                      "
                      />
                  </div>
                  </div>
              </div>`,
      })
      const Tab = Vue.component('tab', {
        props: ['id', 'name'],
        data: function () {
          return { active: false }
        },
        template: `
              <div class='tab' v-show='active'>
                  <slot></slot>
              </div>`,
      })
      const Tabs = Vue.component('tabs', {
        props: ['selected'],
        data() {
          return { tabs: [] }
        },
        created() {
          this.tabs = this.$children
        },
        mounted() {
          this.selectTab(this.selected)
        },
        methods: {
          selectTab(i) {
            this.$emit('selected', i)
            // loop over all the tabs
            this.tabs.forEach((tab, index) => {
              tab.active = index === i
            })
          },
        },
        template: `
              <div>
                  <div class="border-b border-gray-200">
                      <nav class="-mb-px flex space-x-8" aria-label="Tabs">
                          <a
                              v-for='(tab, index) in tabs'
                              :key='tab.name'
                              @click='selectTab(index)'
                              :class="[tab.active ? 'border-indigo-500 text-indigo-600' : 'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300', 'whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm', 'cursor-pointer']"
                                  :aria-current="tab.active ? 'page' : undefined"
                              >
                              {{ tab.name }}
                          </a>
                      </nav>
                  </div>
                  <div class="pt-5">
                  <slot></slot>
                  </div>
              </div>
              `,
      })
      import {
        Client as CidClienpmnt,
        newCrossidClient,
        newCrossidClientByDiscovery,
        newCrossidClientCustom,
      } from '../dist/index.js'

      const lskey = 'crossid-spa-js-playground'
      var app = new Vue({
        el: '#app',
        components: {
          OptInput,
          Tab,
          Tabs,
        },
        data: function () {
          const lsd = localStorage.getItem(lskey)
          const data = lsd ? JSON.parse(lsd) : {}

          return {
            loading: true,
            user: null,
            accessToken: null,
            accessTokenClaims: null,
            error: null,
            // opts
            domain: data.domain,
            wellKnownEndpoint: data.wellKnownEndpoint,
            issuer: data.issuer,
            authEndpoint: data.authEndpoint,
            tokenEndpoint: data.tokenEndpoint,
            clientID: data.clientID,
            scope: data.scope,
            audienceInput: data.audience ? data.audience.join(' ') : '',
            selectedTab: data.selectedTab || 0,
            codeInURL: new URLSearchParams(window.location.search).has('code'),
            stateInURL:
              new URLSearchParams(window.location.search).has('state') &&
              !new URLSearchParams(window.location.search).has('code'),
            cacheType: data.cacheType || 'memory',
            cacheTypes: [
              {
                id: 'memory',
                name: 'Memory',
              },
              {
                id: 'local_storage',
                name: 'Local Storage',
              },
              {
                id: 'session_storage',
                name: 'Session Storage',
              },
            ],
            logoutClientScope:
              data.logoutClientScope !== undefined
                ? data.logoutClientScope
                : true,
          }
        },
        computed: {
          audience: function () {
            return this.audienceInput ? [this.audienceInput] : undefined
          },
        },
        created: async function () {
          this.initClient()
          this.loading = false

          const qp = new URLSearchParams(window.location.search)
          if (qp.has('error')) {
            this.error = new Error(
              qp.get('error_description') || qp.get('error')
            )
          }
        },
        methods: {
          clientOptions: function () {
            const opts = {
              client_id: this.clientID,
              authorizationOpts: {
                audience: this.audience,
                scope: this.scope,
                cache_type: this.cacheType,
                redirect_uri: window.location.href,
              },
            }
            switch (this.selectedTab) {
              case 0: {
                if (!this.domain) {
                  throw new Error('Domain is not set')
                }
                return {
                  domain: this.domain,
                  ui_locales: this.uiLocales,
                  template_id: this.templateId,
                  ...opts,
                }
              }
              case 1: {
                if (!this.wellKnownEndpoint) {
                  throw new Error('well-known endpoint is not set')
                }
                return {
                  wellknown_endpoint: this.wellKnownEndpoint,
                  ...opts,
                }
              }
              case 2: {
                if (!this.issuer || !this.authEndpoint || !this.tokenEndpoint) {
                  throw new Error(
                    'isisuer, authorization and token endpoints are required.'
                  )
                }
                return {
                  issuer: this.issuer,
                  authorization_endpoint: this.authEndpoint,
                  token_endpoint: this.tokenEndpoint,
                  ...opts,
                }
              }
            }
          },
          initClient: async function () {
            let crossid
            try {
              const opts = this.clientOptions()
              console.log('@@@@@@@@@@', opts)
              switch (this.selectedTab) {
                case 0: {
                  crossid = await newCrossidClient(opts)
                  break
                }
                case 1: {
                  crossid = await newCrossidClientByDiscovery(opts)

                  break
                }
                case 2: {
                  crossid = await newCrossidClientCustom(opts)
                  break
                }
              }
            } catch (e) {
              this.error = e
            }

            this.crossid = crossid
          },
          saveOptions: async function () {
            this.error = null
            localStorage.setItem(
              'crossid-spa-js-playground',
              JSON.stringify({
                domain: this.domain,
                issuer: this.issuer,
                authEndpoint: this.authEndpoint,
                tokenEndpoint: this.tokenEndpoint,
                wellKnownEndpoint: this.wellKnownEndpoint,
                clientID: this.clientID,
                scope: this.scope,
                audience: this.audience,
                selectedTab: this.selectedTab,
                cacheType: this.cacheType,
                logoutClientScope: this.logoutClientScope,
              })
            )
            await this.initClient()
          },
          loginWithRedirect: async function () {
            await this.initClient()
            this.crossid.loginWithRedirect({})
          },
          signupWithRedirect: async function () {
            await this.initClient()
            this.crossid.signupWithRedirect({})
          },
          handleLoginRedirectCallback: async function () {
            try {
              await this.crossid.handleLoginRedirectCallback()
              window.history.replaceState(
                {},
                '',
                window.location.origin + window.location.pathname
              )
              this.codeInURL = false
            } catch (e) {
              this.error = e
            }
          },
          handleLogoutRedirectCallback: async function () {
            try {
              await this.crossid.handleLogoutRedirectCallback()
              window.history.replaceState(
                {},
                '',
                window.location.origin + window.location.pathname
              )
              this.stateInURL = false
            } catch (e) {
              this.error = e
            }
          },
          getUser: async function () {
            const user = await this.crossid.getUser({ scope: 'openid' })
            this.user = user
          },
          getAccessToken: async function () {
            const at = await this.crossid.getAccessToken({ scope: 'openid' })
            this.accessToken = at
          },
          introspectAccessToken: async function () {
            const at = await this.crossid.introspectAccessToken({
              scope: 'openid',
            })
            this.accessTokenClaims = at
          },
          logout: async function () {
            this.crossid.logoutWithRedirect({
              post_logout_redirect_uri: this.logoutClientScope
                ? window.location.href
                : undefined,
            })
          },
        },
      })
    </script>
  </body>
</html>
